MANAGEMOVIE_DATA_ROOT='/opt/managemovie/MovieManager'
MANAGEMOVIE_WEB_BIND='0.0.0.0'
MANAGEMOVIE_WEB_PORT='8126'
MANAGEMOVIE_WEB_TLS='1'
MANAGEMOVIE_WEB_UI_ONLY='1'
MANAGEMOVIE_TERMINAL_UI='0'
MANAGEMOVIE_AUTOSTART='1'
MANAGEMOVIE_SKIP_CONFIRM='1'
MANAGEMOVIE_DEFAULT_FOLDER='/mnt'
MANAGEMOVIE_BROWSE_ROOT='/'
MANAGEMOVIE_SITE_TITLE='ManageMovie LXS'
MANAGEMOVIE_REQUIRE_INITIAL_SETTINGS='1'
MANAGEMOVIE_DB_HOST='127.0.0.1'
MANAGEMOVIE_DB_PORT='3306'
MANAGEMOVIE_DB_NAME='managemovie'
MANAGEMOVIE_DB_USER='managemovie'
MANAGEMOVIE_DB_PASSWORD='REPLACE_ME'
MANAGEMOVIE_DB_APP_HOST='localhost'
MANAGEMOVIE_DB_ROOT_USER='root'
MANAGEMOVIE_DB_ROOT_PASSWORD=''
MANAGEMOVIE_DB_RETENTION_DAYS='365'
MANAGEMOVIE_STATE_CRYPT_KEY='REPLACE_ME'
MANAGEMOVIE_SETTINGS_CRYPT_KEY='REPLACE_ME'
MANAGEMOVIE_WEB_USER=''
MANAGEMOVIE_WEB_PASSWORD=''
MANAGEMOVIE_SYSTEMD_SERVICE_NAME='managemovie-web.service'
MANAGEMOVIE_SYSTEMD_USER='root'
MANAGEMOVIE_SYSTEMD_GROUP='root'
