MANAGEMOVIE_LXC_NAME=managemovie-lxs
MANAGEMOVIE_LXC_IP=192.168.52.152
MANAGEMOVIE_LXC_STORAGE=nvme1TB
MANAGEMOVIE_LXC_GATEWAY=192.168.52.1
MANAGEMOVIE_LXC_CORES=4
MANAGEMOVIE_LXC_MEMORY_MB=4096
MANAGEMOVIE_LXC_SWAP_MB=1024
MANAGEMOVIE_LXC_DISK_GB=32
MANAGEMOVIE_LXC_CTID=206
